/*nav bar*/
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 20px;
    font-size: 12px;
    line-height: 16px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
  }
  
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .menu li a:hover {
    color: #f00;
  }
  .logout-container {
    margin-left: 10px; /* Pushes the LogoutComponent to the right */
  }

  
/* Sidebar */
/* Sidebar */
.sidebar {
    flex: 1;
    width: 250px;
    background-color: #f1f1f1;
    color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s, background-color 0.3s;
  }
  
  .sidebar.collapsed {
    width: 60px;
    background-color: transparent;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  /* Collapse Button */
  .collapse-button-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .collapse-button {
    width: 30px;
    height: 30px;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .collapse-button.collapsed {
    position: absolute;
    right: 0;
    transform: rotate(360deg);
  }
  
  .collapse-button:hover {
    background-color: darkorange;
  }
  
  .collapsed-view {
    display: flex;
    flex-direction: column;
  }
  
  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 2px;
  }
  
  /* Loading and Transitioning */
  .loading,
  .transitioning {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .loading .dot-1,
  .loading .dot-2,
  .loading .dot-3,
  .transitioning .dot-1,
  .transitioning .dot-2,
  .transitioning .dot-3 {
    animation: dotBlink 1s infinite;
  }
  
  @keyframes dotBlink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  