/* Sidebar */
.sidebar {
    flex: 1;
    width: 250px;
    background-color: orange;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
  }
  
  .sidebar.collapsed {
    flex: 0;
    width: 60px;
    transition: width 0.3s;
    background-color: transparent;
  }
  
  /* List Styles */
  .user-info-list {
    padding: 20px;
    list-style: none;
    margin: 0;
    font-size: 16px;
  }
  
  .user-info-list li {
    margin-bottom: 10px;
  }
  
  /* Label Styles */
  .label {
    font-weight: bold;
  }
  
  /* Value Styles */
  .value {
    margin-left: 10px;
  }
  
  /* Collapse Button */
  .collapse-button-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .collapse-button {
    width: 30px;
    height: 30px;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .collapse-button.collapsed {
    position: absolute;
    right: 0;
  }
  
  .collapse-button:hover {
    background-color: darkorange;
  }
  
  .collapsed-view {
    display: flex;
    flex-direction: column;
  }
  
  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 2px;
  }
  
  .loading,
.transitioning {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.loading .dot-1,
.loading .dot-2,
.loading .dot-3,
.transitioning .dot-1,
.transitioning .dot-2,
.transitioning .dot-3 {
  animation: dotBlink 1s infinite;
}

@keyframes dotBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
