.combined-container {
    display: flex;
    justify-content: space-between;
  }
  
  
  .right-component,
  .middle-component {
    flex: 1;
  }
  
  .middle-component {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* session.css */

.combined-container {
    display: flex;
  }
  
  
  .scrollable-box {
    width: 700px; /* Adjust the width as per your requirement */
    height: 600px; /* Adjust the height as per your requirement */
    overflow: auto;
    border: 1px solid #ccc; /* Add a border if desired */
  }

  .pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pdf-controls {
    margin-bottom: 10px;
  }
  
 
.pdf-document {
    overflow: auto;
    max-height: calc(100% - 50px); /* Adjust the height to leave space for the controls */
  }